* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  width: 150px;
}

img {
  height: 100%;
}

p {
  font-family: 'Roboto';
  font-weight: 700;
}