$body-bg: #5D5C61;
$primary: #7395AE;
$secondary: #B1A296;
$tertiary: #379383;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

$bg-section-color: color-contrast($primary);


body {
  background-image: url("../img/back.jfif");
  background-size: 100%;
  background-repeat: no-repeat;
}

.img-logo {
  width: 150px;
}

.img-logo-ico {
  width: 30px;
}

.img-card {
  width: 60px;
}

.bg-contrast-pr {
  background-color: $bg-section-color;
}

.bg-color-custom {
  background-color: #02ac27;
}